/* ------------------- General ------------------ */

body {
  background: rgb(31,55,86);
  background: -moz-linear-gradient(90deg, rgba(31,55,86,1) 0%, rgba(20,21,57,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(31,55,86,1) 0%, rgba(20,21,57,1) 100%);
  background: linear-gradient(90deg, rgba(31,55,86,1) 0%, rgba(20,21,57,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f3756",endColorstr="#141539",GradientType=1);
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.main {
  margin: 0 auto;
}

.top_info {
  width: 100%;
  margin: 45px auto;
  padding: 16px 23px;
  box-sizing: border-box;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top_info .score {
  padding: 20px 50px;
  background-color: #ffffff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score .score_title {
  color: #2A46C0;
  font-family: "BarlowSemiCondensed-bold";
  font-size: 18px;
}

.score .score_count {
  color: #58566b;
  font-family: "BarlowSemiCondensed-bold";
  font-size: 60px;
}

.top_info .logo {
  background: url("./assets/image/logo.svg") no-repeat;
  width: 160px;
  height: 100px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* ------------------ Game environment ----------------- */

.game_environment {
  width: 480px;
  height: 430px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
  margin: 0 auto;
  background: url("./assets/image/bg-triangle.svg") center center no-repeat;
}

.icon {
  border-radius: 50%;
  width: 198px;
  height: 198px;
  position: relative;
}

.icon::before {
  content: "";
  width: 150px;
  height: 150px;
  display: block;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: inset 0 8px 0 0 #d9d9d9;
  position: absolute;
  top: calc(50% - 75px);
  right: calc(50% - 75px);
}

.paper_icon {
  background: rgb(72,101,244);
  background: -moz-linear-gradient(0deg, rgba(72,101,244,1) 0%, rgba(86,113,245,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(72,101,244,1) 0%, rgba(86,113,245,1) 100%);
  background: linear-gradient(0deg, rgba(72,101,244,1) 0%, rgba(86,113,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4865f4",endColorstr="#5671f5",GradientType=1);
  box-shadow: inset 0 -8px 0 0 #2d47c0;
}

.paper_icon svg {
  position: absolute;
  top: calc(50% - 30px);
  right: calc(50% - 25px);
}

.scissor_icon {
  background: rgb(236,158,14,1);
  background: -moz-linear-gradient(0deg, rgba(236,158,14,1) 0%, rgba(236,169,34,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(236,158,14,1) 0%, rgba(236,169,34,1) 100%);
  background: linear-gradient(0deg, rgba(236,158,14,1) 0%, rgba(236,169,34,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4865f4",endColorstr="#5671f5",GradientType=1);
  box-shadow: inset 0 -8px 0 0 #c76c1d;
}

.scissor_icon svg {
  position: absolute;
  top: calc(50% - 30px);
  right: calc(50% - 25px);
}

.rock_icon {
  background: rgb(220,46,78,1);
  background: -moz-linear-gradient(0deg, rgba(220,46,78,1) 0%, rgba(201,64,93,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(220,46,78,1) 0%, rgba(201,64,93,1) 100%);
  background: linear-gradient(0deg, rgba(220,46,78,1) 0%, rgba(201,64,93,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4865f4",endColorstr="#5671f5",GradientType=1);
  box-shadow: inset 0 -8px 0 0 #9f1536;
}

.rock_icon svg {
  position: absolute;
  top: calc(50% - 30px);
  right: calc(50% - 25px);
}

.game_environment .icon {
  cursor: pointer;
}

.game_environment .icon:hover {
  animation: hover_icon 1s ease 0s 1 normal forwards;
}

@keyframes hover_icon {
  0%   {box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.24);transform: scale(1);}
  100% {box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.24);transform: scale(1.1);}
}

/* ---------------- Result Page ----------------- */

.result_environment {
  width: 700px;
  height: 430px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
  margin: 0 auto;
}

.system_choice::after {
  content: "";
  display: block;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  background: rgb(131,79,227);
  background: -moz-radial-gradient(circle, rgba(131,79,227,0.15) 0%, rgba(131,79,227,0.15) 45%, rgba(131,79,227,0.1) 45%, rgba(131,79,227,0.1) 58%, rgba(131,79,227,0.05) 58%, rgba(131,79,227,0.05) 100%);
  background: -webkit-radial-gradient(circle, rgba(131,79,227,0.15) 0%, rgba(131,79,227,0.15) 45%, rgba(131,79,227,0.1) 45%, rgba(131,79,227,0.1) 58%, rgba(131,79,227,0.05) 58%, rgba(131,79,227,0.05) 100%);
  background: radial-gradient(circle, rgba(131,79,227,0.15) 0%, rgba(131,79,227,0.15) 45%, rgba(131,79,227,0.1) 45%, rgba(131,79,227,0.1) 58%, rgba(131,79,227,0.05) 58%, rgba(131,79,227,0.05) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#834fe3",endColorstr="#834fe3",GradientType=1);
  position: absolute;
  top: calc(50% - 220px);
  right: calc(50% - 220px);
}

.result_environment .icon span {
  font-family: "BarlowSemiCondensed-Bold";
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  display: block;
  margin-top: -50px;
}

.result_content {
  padding-top: 40px;
}

.result_title span {
  font-family: "BarlowSemiCondensed-Bold";
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.result_content button {
  border-color: transparent;
  padding: 7px 40px;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  font-family: "BarlowSemiCondensed-Bold";
  font-size: 13px;
  border-radius: 5px;
}

.result_content button:hover {
  color: #ff0000;
}

/* ---------------- Rules --------------- */

.rules {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.rules button {
  border-color: #ffffff;
  background: transparent !important;
  font-family: "BarlowSemiCondensed-Bold";
  font-size: 14px;
  color: #ffffff;
  border-radius: 10px;
  padding: 7px 30px;
}

.desktop_rules {
  background: url("./assets/image/image-rules.svg") center 90px no-repeat #ffffff;
  padding: 20px 40px;
  width: 304px;
  height: 350px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  top: calc(50% - 152px);
  right: calc(50% - 191px);
  z-index: 1;
}

.rules_contents {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(20, 21, 57, 0.35);
}

.desktop_rules .rules_title {
  font-family: "BarlowSemiCondensed-Bold";
  font-size: 36px;
  color: #141539;
}

.desktop_rules .close_icon {
  cursor: pointer;
}

.desktop_rules .close_icon path {
  fill: #B1B4C5;;
}

/* ----------------- Responsive ------------------ */

@media only screen and (min-width: 1366px) {
  .main {
    width: 100%;
    max-width: 1366px;
  }

  .top_info {
    max-width: 702px;
  }
}

@media only screen and (max-width: 1365px) and (min-width: 1200px) {
  .main {
    width: 100%;
    max-width: 1200px;
  }

  .top_info {
    width: 60%;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .main {
    width: 100%;
    max-width: 992px;
  }

  .top_info {
    width: 60%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .main {
    width: 100%;
    max-width: 768px;
  }

  .top_info {
    width: 60%;
  }

  .result_environment .system_choice::after {
    width: 330px;
    height: 330px;
    top: calc(50% - 165px);
    right: calc(50% - 165px);
  }
}

@media only screen and (max-width: 767px) and (min-width: 567px) {
  .main {
    width: 100%;
    max-width: 567px;
    overflow: hidden;
  }

  .top_info {
    width: 60%;
  }

  .result_environment .system_choice::after {
    width: 330px;
    height: 330px;
    top: calc(50% - 165px);
    right: calc(50% - 165px);
  }

  .result_environment {
    width: 100%;
  }

  .result_environment .paper_icon {
    order: 1;
  }

  .result_environment .result_content {
    order: 3;
    width: 315px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .result_environment .paper_icon.system_choice {
    order: 2;
  }

}

@media only screen and (max-width: 567px) and (min-width: 375px) {
  .main {
    width: 100%;
    max-width: 375px;
    overflow: hidden;
  }

  .top_info {
    width: 100%;
  }

  .game_environment,
  .result_environment {
    width: 100%;
  }

  .icon {
    width: 130px;
    height: 130px;
  }

  .icon::before {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
  }

  .top_info .score {
    padding: 14px 40px;
  }

  .result_environment .system_choice::after {
    width: 330px;
    height: 330px;
    top: calc(50% - 165px);
    right: calc(50% - 165px);
  }

  .desktop_rules {
    flex-direction: column;
    align-items: center;
  }

  .result_environment .paper_icon {
    order: 1;
  }

  .result_environment .result_content {
    order: 3;
    width: 315px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .result_environment .paper_icon.system_choice {
    order: 2;
  }

}

@media only screen and (max-width: 374px) {
  .main {
    width: 100%;
    overflow: hidden;
  }

  .top_info {
    width: 100%;
  }

  .game_environment,
  .result_environment {
    width: 100%;
  }

  .icon {
    width: 130px;
    height: 130px;
  }

  .icon::before {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
  }

  .top_info .score {
    padding: 14px 40px;
  }

  .desktop_rules {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: 203px 190px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-radius: unset;
  }

  .result_environment .system_choice::after {
    width: 330px;
    height: 330px;
    top: calc(50% - 165px);
    right: calc(50% - 165px);
  }

  .desktop_rules {
    flex-direction: column;
    align-items: center;
  }

  .result_environment .paper_icon {
    order: 1;
  }

  .result_environment .result_content {
    order: 3;
    width: 315px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .result_environment .paper_icon.system_choice {
    order: 2;
  }

}